@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Tangerine:wght@400;700&display=swap');

body {
  background: red;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
}

.flex-end {
  display:flex;
  justify-content:center;
  align-items:end;
}

.center {
  top: 0;
  bottom: 0;
  margin: auto;  
}

.everything {
  height: 450px;
  width:100%;
  pointer-events:none;
  margin-bottom:0;
}

.letter-container {
  width: 400px;
  height: 100%;
  cursor: pointer;
  margin-bottom:0;
  transition: 0.5s ease;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
  pointer-events:auto;
}

.letter-container div {
  position: absolute;
  z-index:2
}

.everything:hover {
  margin-bottom: 180px;
  transition: 0.5s;
}

.back {
  width: 100%;
  aspect-ratio: 1 / 0.7;
  background: hsl(198, 52%, 78%);
  z-index:0
}

.paper {
  background: white;
  border: 15px solid #e3d0a1;
  height: 240px;
  width: 90%;
  z-index: 1;
  margin: 0;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.4))
}

.letter-container:hover .paper {
  animation: letter-out 0.5s linear 0.8s 1 normal forwards;
/*   transition-delay: 0.8s; */
}

.letter-in {
  animation: letter-in 1s linear 0s 1 normal backwards;
}

@keyframes letter-out {
  0% {}
  50% {height: 300px; margin-bottom: 300px; z-index:3}
  100% {height: 570px; margin-bottom: -150px; z-index:3;}
}


@keyframes letter-in {
  0% {height: 570px; margin-bottom: -150px; z-index:3; margin-bottom: 20px}
  50% {height: 300px; margin-bottom: 300px; z-index:3}
  100% {height: 240px; margin: 0; z-index: 1;}
}

.paper .letter-content {
  width: 90%;
  height: 100%;
  text-align: center;
  font-family: 'open sans';
  font-size: 1rem;
  left:0;
  right:0;
  margin:auto;
  margin-bottom:0;
  overflow:scroll;
}

.side-flap1 {
  border-left: 400px solid hsl(198, 52%, 58%);
  border-top:280px solid transparent;
}

.side-flap2 {
  border-right: 400px solid hsl(198, 52%, 58%);
  border-top:280px solid transparent;
}

.side-flap1, .side-flap2 {
  filter: drop-shadow(0px -2px 1px hsl(198, 52%, 45%))  
}

.bottom-flap {
  border-right: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom:140px solid hsl(198, 52%, 50%);
  margin-top: 360px;
  filter: drop-shadow(1px -2px 1px hsl(198, 52%, 45%))
}

.seal-flap {
  border-right: 200px solid transparent;
  border-left: 200px solid transparent;
  border-top:160px solid hsl(198, 52%, 44%);
  margin-bottom: 120px;
  filter: drop-shadow(2px 0px 1px hsl(198, 52%, 40%))
    drop-shadow(-2px 0px 2px hsl(198, 52%, 40%))
}

.close-seal {
  animation: close-seal 0.8s linear 1.1s 1 normal backwards;
  transform-origin: top;
}

.letter-container:hover .seal-flap {
  animation: open-seal 0.7s linear 0s 1 normal forwards;
  transform-origin: top;
}


@keyframes open-seal {
  0% {
    z-index:2;
    transform: none;
    border-top:160px solid hsl(198, 52%, 44%);
}
  50% {
    z-index:2;
    transform: rotateX(90deg);
    border-top:160px solid hsl(198, 52%, 54%);
    filter:none;
}

  100% {
    transform: rotateX(180deg);
    border-top:160px solid hsl(198, 52%, 78%);
    z-index: 0;
    filter:none;
}  
}


@keyframes close-seal {
  0% {
    z-index: 0;
    transform: rotateX(180deg);
    border-top:160px solid hsl(198, 52%, 78%);
    filter: none;
}
  50% {
    z-index:2;
    transform: rotateX(90deg);
    border-top:160px solid hsl(198, 52%, 54%);
    filter: drop-shadow(-2px 0px 2px hsl(198, 52%, 40%));
}

  100% {
    z-index: 2;
    transform: none;
    border-top:160px solid hsl(198, 52%, 44%);
    filter: drop-shadow(2px 2px 1px hsl(198, 52%, 43%))
      drop-shadow(-2px 0px 2px hsl(198, 52%, 40%));
  }  
}
